<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div>
        <img src="" alt="">
        <h1> OYERA AUTO SERVICE BAY </h1>
        <p><em>You trust, We deliver</em></p>
        <button type="submit"> LET US GET YOU STARTED </button>
    </div>

    <div>
        <h3>About Us</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">Vision</div>
                <div class="col-4">Mission</div>
                <div class="col-4">Values</div>
            </div>
        </div>
    </div>
</body>

</html>